<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Your Post</h1>
     <h2>Post UserName: @<%= post.username %> </h2>
    <h2>Post Id: <%= post.id %> </h2>
    <img src=" <%= post.image%> " alt="images"  class="profile-img"> &nbsp; &nbsp; &nbsp;
    <form action="/posts/<%= post.id %>/?_method=PATCH" method="post">

    <p> <span style="font-weight: 1000;">Caption:</span> </p>
    <textarea name="caption" rows="8" cols="55" placeholder="Enter Your Caption"><%= post.caption %></textarea> <br>
    <input type="text" name="image" value="" placeholder="Enter Url of Post">

    <button>Submit Post</button>
    </form>
    
</body>
</html>