<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        h1{
            text-align: center;
            color: brown;
            text-decoration: underline greenyellow;
        }
        table,th,td{
            border: 1px solid black;
            margin: 0 auto;
        }
        a{
            text-decoration: none;
        }
        .edit{
            color: darkcyan;
            font-weight: bolder;
        }
        .createNew{
            margin: 0 0 10px 19rem;
        }
        .add{
            color: green;
            font-weight: bolder;
        }
        .remove{
            color: red;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <h1>Details of Users</h1>


    <button class="createNew"><a href="http://localhost:8080/user/new" class="add">Add NewUser</a></button> 

    <table>
        
        <tr>
            <th>User_Id</th>
            <th>UserName</th>
            <TH>Email</TH>
            <th colspan="2">Actions</th>
        </tr>
        <%  for(user of users){ %>
        <tr>
            <td><%=user.id%></td>
            <td><%=user.username%></td>
            <td><%=user.email%></td>
            <td>
            <form action="/user/<%=user.id%>/edit" method="get">
                <button class="edit">Edit UserName</button>
            </form>
            </td>
            <td>
                <button><a href="http://localhost:8080/user/<%=user.id%>/delete"   class="remove">Delete User</a></button>
            </td>
        </tr>
        <%}%>
    </table>

</body>
</html>